<!DOCTYPE html>
<html>
  <head>
    <title>Grocery List App</title>
    <link rel='stylesheet' href='/stylesheets/screen.css' />
  </head>
  <body>
    <div id="layout">
      <h1 id="page-title">Grocery List</h1>

      <div id="storeList-L">
        <form>
          <% storeList.forEach( function ( store ) { %>
            <div class="item" <% if(store.hasAll == false){ %>style="background-color:#ff8080;"<%}%>>
              <input type="radio" name="store" onclick="storeSelect(<%= store.storeID %>);" value="<%= store.storeName %>"
              <% if(store.storeID == 0){ %> checked="checked" <% } %> > <span style="padding-left:8px;"><%= store.storeName %> </span>
              <span style="position:absolute;right:10px">Total: $<%= store.totalPrice %></span><br>
            </div>
          <% }); %>
        </form>
      </div>

      <div id="storeList-R">
        <% storeList.forEach( function ( store ){ %>
          <div id="<%= store.storeID %>" style="display: inline">
            <% missingGroceries.forEach( function ( missing ){ %>
                <% if (missing.storeID == store.storeID) { %>
                    <div class="item" style="background-color:#ff8080;".>
                    <label> Could not find an item for '<%= missing.query %>'. </label>
                    </div>
                <% } %>
            <% }); %>
            <% groceries.forEach( function ( product ){ %>
              <% if (product.storeName == store.storeName) { %>
                <div class="item">
                  <label> <%= product.productName %> </label>
                </div>
              <% } %>
            <% }); %>
          </div>
        <% }); %>
      </div>

      <div id="priceList-R">
        <% storeList.forEach( function ( store ){ %>
          <div id="<%= store.storeID %>Price" style="display: none">
            <% groceries.forEach( function ( product ){ %>
              <% if (product.storeName == store.storeName) { %>
                <div class="item">
                  <label> $<%= product.price %> </label>
                </div>
              <% } %>
            <% }); %>
           <div class="item"><label> Total: $<%= store.totalPrice %> </label></div>
          </div>
        <% }); %>
      </div>

    <script>
      function storeSelect(value) {
        document.getElementById(value).style.display = "inline";

        var storeDivs = document.getElementById("storeList-R").childNodes;
        for (var i = 1; i < storeDivs.length; i += 2) {
          if (value != storeDivs[i].id) {
            storeDivs[i].style.display = "none";
          }
        }

        document.getElementById(value + "Price").style.display = "inline";

        var priceDivs = document.getElementById("priceList-R").childNodes;
        for (var i = 1; i < priceDivs.length; i += 2) {
          if (value + "Price" != priceDivs[i].id) {
              priceDivs[i].style.display = "none";
          }
        }

      }

      storeSelect("0");

    </script>
  </body>
</html>
                                         
